@model HikingPlanAndRescue.Web.Areas.Private.Models.TrainingListItemViewModel

<h3>@Model.Title</h3>
@if (Model.StartDate != null)
{
    <p class="info">Start Date: @Html.DisplayFor(x => x.StartDate)</p>
}
@if (Model.EndDate != null)
{
    <p class="info">End Date: @Html.DisplayFor(x => x.EndDate)</p>
}
<p class="lead">Track details:</p>
<p>Title: @Html.DisplayFor(x => x.Title)</p>
<p class="info">(Length: @Html.DisplayFor(x => x.TrackLength) km)</p>

@{
    ViewBag.TrainingId = Model.Id;
}

@if (Model.EndDate > DateTime.Now && Model.CheckedInOn == null)
{
    ViewBag.Command = "checkin";
    ViewBag.Text = "CheckIn";
    <p>
        @Html.Partial("_CheckInOutBtn")
    </p>
}
else if (Model.CheckedInOn != null && Model.CheckedOutOn == null)
{
    <p>CheckedIn on: @Html.DisplayFor(x => x.CheckedInOn)</p>
    ViewBag.Command = "checkout";
    ViewBag.Text = "CheckOut";
    <p>
        @Html.Partial("_CheckInOutBtn")
    </p>
}
else if (Model.CheckedInOn != null && Model.CheckedOutOn != null)
{
    <p>CheckedIn on: @Html.DisplayFor(x => x.CheckedInOn)</p>
    <p>CheckedOut on: @Html.DisplayFor(x => x.CheckedOutOn)</p>
    ViewBag.Command = "reset";
    ViewBag.Text = "Cancel CheckInOut";
    @Html.Partial("_CheckInOutBtn")
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Del", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
</p>

<hr />