<h2>Click on category title to filter by category!</h2>
{{#this}}
    <h2><a href="#/home?category={{category}}">{{category}}</a></h2>
    <p>{{text}}</p>
    <img src="{{img}}" alt="">
    <p id="{{id}}">Likes: <span class="likes">{{likes}}</span> Dislikes: <span class="dislikes">{{dislikes}}</span></p>
    <button id="{{id}}" class="btn btn-primary like">Like</button>
    <button id="{{id}}" class="btn btn-primary dislike">Dislike</button>
{{/this}}