<fieldset>
    <h2>You can also click on category title to filter by category!</h2> Sort by:
    <select id="sort-selector">
        <option value="">none</option>
        <option value="likes">by likes</option>
        <option value="shareDate">by date</option>
    </select>
    <button class="btn btn-default" id="btn-sort">Sort</button>
Filter by category:
    <select id="category-selector">
        <option value="">none</option>
        {{#categories}}
            <option value="{{this}}">by {{this}}</option>
        {{/categories}}
    </select>
    <button class="btn btn-default" id="btn-filter-category">Filter</button>
</fieldset>

{{#cookies}}
    <div id="{{id}}" class="cookie-container">
        <h2><a class="cookie-category" href="#/home?category={{category}}">{{category}}</a></h2>
        <p class="cookie-text">{{text}}</p>
        <img src="{{img}}" class="cookie-img-url" alt="">
        <p id="{{id}}">Likes: <span class="likes">{{likes}}</span> Dislikes: <span class="dislikes">{{dislikes}}</span></p>
        <button id="{{id}}" class="btn btn-primary like">Like</button>
        <button id="{{id}}" class="btn btn-primary dislike">Dislike</button>
        <button id="{{id}}" class="btn btn-primary reshare">Re-share</button>
        <p>shared on {{shareDate}}</p>
    </div>
{{/cookies}}
