@model IEnumerable<SimpleTwitter.Data.Models.Tweet>

@{
    ViewBag.Title = "Tweeets";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", "Tweet", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("See my", "MyTweets", "Tweet", null, new { @class = "btn btn-primary" })
        <hr />
    }
</div>

<h2>Tweets <small>(as of @DateTime.Now)</small></h2>

<form action="/tweet" method="post" class="row">
    <div class="form-group col-md-5">
        <label class="control-label" for="query">Filter by HashTag</label>
        <div class="input-group">
            <span class="input-group-addon">#</span>
            <input type="text" class="form-control" name="query" id="query" value="@ViewBag.Query">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Filter</button>
            </span>
        </div>
    </div>
</form>

@Html.Partial("_ListTweets", Model)